{% load staticfiles %} {% load i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulario Login</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>


<body>
  <div class="my-content">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <h1>
            <strong>CorMun</strong> Formulario Login</h1>
          <div class="mydescription">
            <p>Sistema para la gestión de la correspondencia municipal.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 myform-cont">
          <div class="myform-top">
            <div class="myform-top-left">
              <h3>Ingresa a nuestro sitio.</h3>
              <p>Digita tu usuario y contraseña:</p>
            </div>
            <div class="myform-top-right">
              <i class="fa fa-key"></i>
            </div>
          </div>
          <div class="myform-bottom">
            <form role="form" action="" method="post" class="">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" required name="username" placeholder="Usuario..." class="form-control" id="form-username">
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="Contraseña..." class="form-control" id="form-password">
              </div>
              <!--{{ form.as_p }}-->
              <button type="submit" class="mybtn" value="{% trans 'Log in' %}">Entrar</button>
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 mysocial-login">
          <h3>...si no tienes cuenta:</h3>
          <div class="mysocial-login-buttons">
            <a class="mybtn-social" href="{% url 'registration_register'%}">
              <i class="fa fa-sign-in"></i> Registrate!
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>


  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>