{% extends "base/base.html" %} 
{% load i18n %} {% block title %}
{% trans "Logged out" %}{% endblock %} 
{% block content %}

<p class="text-align-center">{% trans "Successfully logged out" %}.</p>
<a href="{% url 'auth_login' %}">Login</a>
{% endblock %}