{% extends 'base/base.html' %} {% block title %} Tipo correspondencia {% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h2>Tipo de correspondencia</h2>
      <a href="{% url 'create_tipo_correspondencia' %}" class="btn btn-primary pull-right">Nuevo tipo de correspondencia</a>
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <td>Nombre</td>
            <td>Detalle</td>
          </tr>
        </thead>
        {% for tipo_correspondencia in tipo_correspondencias %}
        <tr>
          <td>
            <a class="tablas" href="{% url 'update_tipo_correspondencia' tipo_correspondencia.id %}">{{ tipo_correspondencia.nombre }}</a>
          </td>
          <td>{{ tipo_correspondencia.detalle }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}