{% load staticfiles %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% block title1 %}
  <title>Cormun</title>
  {% endblock %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <!--Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500" rel="stylesheet">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/custom.css'%}">
</head>

<body>
  {% include 'base/navbar.html' %} {% include 'base/sidebar.html' %} 
  {% block content %} {% endblock %}

  {% block js %}
  <script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/myscript.js' %}"></script>
  {% endblock %}
</body>

</html>