{% extends 'base/base.html' %}
{% load staticfiles %}
{% if request.user.is_autheticated %}
{% block content %}

    <div id="particles-js">

    </div>

{% endblock %} 
{% endif %}
{% block js %}
    <script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script>
    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script> 
{% endblock %}