{% load staticfiles %}
<header class="my-header">
  <nav class="container navbar navbar-static-top">
    <div class="navbar-header">
      <div class="my-logo">
        <div class="pull-left">
          <a class="hamburger">
            <i class="sr-only">Toggle navigation</i>
            {% if request.user.is_authenticated %}
            <i class="fa fa-bars" aria-hidden="true"></i>
            {% endif %}
          </a>
        </div>
        <span>
          <b>Cor</b>Mun</span>
        <div class="pull-right">
          <a class="navbar-toggle collapsed btnbarra" data-toggle="collapse" data-target="#barra-menu">
            <i class="sr-only">Toggle navigation</i>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </a>
        </div>

      </div>

      <div class="my-div-right">
        <div class="navbar-collapse  collapse" id="barra-menu">
          <ul class="nav navbar-nav my-right-ul">
              {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'home' %}" class="mytool" data-toggle="tooltip" data-placement="bottom" data-original-title="Inicio">
                <i class="fa fa-home" aria-hidden="true"></i>
              </a>
            </li>
            <li class="dropdown messages-menu">
              <a href="#" class="dropdown-toggle mytool" data-toggle="tooltip" data-placement="bottom" data-original-title="Notificaciones">
                <i class="fa fa-bell"></i>
                <span class="label label-default">4</span>
              </a>
            </li>

            <li class="dropdown user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{% static 'img/user.png' %}" class="user-image">
                <span class="hidden-xs">{{ user.username }}</span>
              </a>
              <ul class="dropdown-menu">
                <li class="my-user-header">
                  <img src="{% static 'img/user.png' %}" class="img-circle">
                  <p>{{ user.username }} - Web Developer
                    <br>
                    <small>Nov. 2016</small>
                  </p>
                </li>

                <li class="my-user-footer">
                  <div class="pull-left">
                    <a href="{% url 'perfil' %}" class="btn btn-default">
                      <i class="fa fa-user"></i> Perfil</a>
                  </div>
                  <div class="pull-right">
                    <a href="{% url 'auth_logout' %}" class="btn btn-default">
                      <i class="fa fa-power-off"></i> Salir</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <li>
            <a href="{% url 'auth_login' %}" class="mytool" data-toggle="tooltip" data-placement="bottom" data-original-title="Contactos">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              <span class="hidden-xs">Entrar</span>
            </a>
          </li>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
