{% extends 'base/base.html' %} {% load staticfiles %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Perfil de usuario
        <small>editando datos</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'perfil' %}">Perfil de usuario</a>
        </li>
        <li class="active">Editando datos</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img class="img-responsive user-image img-hover" src="{% static 'img/user.png' %}">
      <div class="col-md-12" align="center">
        <p class="text-center">
          <strong>Nombre Apellido</strong>
        </p>
        <p class="text-center">
          <em>Título del perfil de usuario</em>
        </p>
      </div>
      <div class="col-md-12 text-center">
        <ul class="list-unstyled list-inline list-social-icons">
          <li>
            <a href="#">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <br>
        <ul class="list-group list-primary">
          <a href="" class="list-group-item">Ver perfil público</a>
          <a href="" class="list-group-item">Mi perfil</a>
          <a href="" class="list-group-item">Fotografía</a>
          <a href="" class="list-group-item">Cuenta</a>
          <a href="" class="list-group-item">Preferencias</a>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="col-md-12 mi-perfil">
        <h3 class="titulo">Mi perfil
          <p>
            <small>Añade información personal para compartir en tu perfil</small>
          </p>
        </h3>
      </div>
      <form name="modifyProfile" id="profileForm" novalidate>
        <div class="col-md-12 formulario">
          <div class="col-md-8 col-md-offset-2">
            <div class="control-group form-group">
              <div class="controls">
                <br>
                <label>Información básica</label>
                <span id="alertName" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                  <input type="text" class="form-control" id="txtName" placeholder="Introduzca su nombre" required data-validation-required-message="Por favor introduzca su nombre.">
                </span>
                <br>
                <span id="alertSurname" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                  <input type="text" class="form-control" id="txtSurname" placeholder="Introduzca sus apellidos" required data-validation-required-message="Por favor introduzca sus apellidos.">
                </span>
                <br>
                <span id="alertSurname" data-toggle="popover" data-trigger="hover" data-placement="right" title="" data-content="">
                  <input type="text" class="form-control" id="txtSurname" placeholder="Introduzca sus apellidos" required data-validation-required-message="Por favor introduzca sus apellidos.">
                </span>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Biografía:</label>
                <span id="alertBiography" data-toggle="popover" data-trigger="hover" data-placement="auto" title="" data-content="">
                  <textarea rows="6" cols="30" class="form-control" id="txtBiography" required maxlength="999" style="resize:none" data-validation-required-message="Por favor introduzca su biografía deseada."></textarea>
                </span>
                <br>
                <span id="alertSelectLanguage" data-toggle="popover" data-trigger="hover" data-placement="auto" title="" data-content="">
                  <select class="form-control" id="selectLanguage" title="Seleccione su idioma">
                    <option class="bs-title-option" value="" disabled selected>Elija un idioma...</option>
                    <option>Alemán</option>
                    <option>Español</option>
                    <option>Francés</option>
                    <option>Inglés</option>
                    <option>Portugués</option>
                  </select>
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="col-md-12 formulario-central">
        <div class="col-md-8 col-md-offset-2">
          <div class="control-group form-group">
            <div class="controls">
              <br>
              <label>Enlaces:</label>
              <input type="text" class="form-control" id="txtMyweb" placeholder="Introduzca su web personal o profesional">
              <br>
              <div class="input-group">
                <span class="input-group-addon">https://plus.google.com/</span>
                <input type="text" class="form-control" id="txtPlus" placeholder="Introduzca su usuario de Google+">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">https://twitter.com/</span>
                <input type="text" class="form-control" id="txtTwitter" placeholder="Introduzca su usuario de Twitter">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon">https://facebook.com/</span>
                <input type="text" class="form-control" id="txtFacebook" placeholder="Introduzca su usuario de Facebook">
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-12 container allFormButtons">
          <br>
          <div class="col-md-2 col-md-offset-2">
            <div class="form-group">
              <button type="button" id="btnCacel" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-3">
            <div class="form-group">
              <button type="button" id="btnClean" class="btn btn-warning">Limpiar</button>
              <button type="button" id="btnEnviar" class="btn btn-primary">Actualizar</button>
            </div>
          </div>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}