{% load staticfiles %} {% if request.user.is_authenticated and request.user.is_staff %}
<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Menú
        </a>
      </li>
      <li class="dropdown my-li-nav">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Correspondencia
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Opciones de Correspondencia</li>
          <li class="my-li-nav">
            <a href="{% url 'list_correspondencia' %}">Ver</a>
          </li>
        </ul>
      </li>
      <li class="dropdown my-li-nav">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departamentos
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Opciones de Departamento</li>
          <li class="my-li-nav">
            <a href="{% url 'list_departamento' %}">Ver</a>
          </li>
        </ul>
      </li>
      <li class="droCorMunpdown my-li-nav">
        <a href="#" CorMunclass="dropdown-toggle" data-toggle="dropdown">Destinatarios
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Opciones de Destinatario</li>
          <li class="my-li-nav">
            <a href="{% url 'list_destinatario' %}">Ver</a>
          </li>
        </ul>
      </li>
      <li class="dropdown my-li-nav">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Remitentes
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Opciones de Remitente</li>
          <li class="my-li-nav">
            <a href="{% url 'list_remitente' %}">Ver</a>
          </li>
        </ul>
      </li>
      <li class="dropdown my-li-nav">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tipo Correspondencia
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Opciones de Tipo</li>
          <li class="my-li-nav">
            <a href="{% url 'list_tipo_correspondencia' %}">Ver</a>
          </li>
        </ul>
      </li>
      <li class="dropdown my-li-nav">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archivos
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Opciones de Archivo</li>
          <li class="my-li-nav">
            <a href="{% url 'list_archivos' %}">Ver</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
{% else %} {% if request.user.is_authenticated %}
<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Menú
        </a>
      </li>
      <li class="dropdown my-li-nav">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Correspondencia
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">Opciones de Correspondencia</li>
          <li class="my-li-nav">
            <a href="{% url 'list_correspondencia' %}">Ver</a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>
{% endif %} {% endif %}