{% extends 'base/base.html' %} {% block title %} Departamento {% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h2>Departamento</h2>
      <a href="{% url 'create_departamento' %}" class="btn btn-primary pull-right">Nuevo departamento</a>
      <table class="table table-bordered table-hover table-responsive">
        <thead class="lead">
          <tr>
            <td>Nombre</td>
            <td>Encargado</td>
            <td>Opciones</td>
          </tr>
        </thead>
        {% for departamento in departamentos %}
        <tr>
          <td>
            <a class="tablas" href="{% url 'update_departamento' departamento.id %}">{{ departamento.nombre }}</a>
          </td>
          <td>{{ departamento.encargado }}</td>
          <td>
            <div class="row">
              <div class="col-md-6">
                <a href="{% url 'update_departamento' departamento.id %}" class="btn btn-primary">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
              <div class="col-md-6">
              <a href="{% url 'delete_departamento' departamento.id %}" class="btn btn-danger">
                <i class="fa fa-minus-circle"></i>
              </a>
            </div>  
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}