{% extends 'base/base.html' %} {% load crispy_forms_tags %} 
{% block title %} Departamento {% endblock %} 
{% block content%}
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h2>Agregar nuevo Departamento</h2>
      <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <br>
        <button class="btn btn-primary" type="submit">Guardar</button>
      </form>
      {% if departamento %}
      <br>
      <a href="{% url 'delete_departamento' departamento.id %}">
        <button type="button" class="btn btn-danger">Eliminar</button>
      </a>
    </div>
  </div>
</div>

{% endif %} {% endblock %}