{% extends 'base/base.html' %} {% block title %} Destinatario {% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h2>Destinatario</h2>
      <a href="{% url 'create_destinatario' %}" class="btn btn-primary pull-right">Nuevo destinatario</a>
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Teléfono</td>
            <td>Email</td>
            <td>Cargo</td>
            <td>Dirección</td>
          </tr>
        </thead>
        {% for destinatario in destinatarios %}
        <tr>
          <td>
            <a class="tablas" href="{% url 'update_destinatario' destinatario.id %}">{{ destinatario.nombre }}</a>
          </td>
          <td>{{ destinatario.apellido }}</td>
          <td>{{ destinatario.telefono }}</td>
          <td>{{ destinatario.email }}</td>
          <td>{{ destinatario.cargo }}</td>
          <td>{{ destinatario.direccion }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}