{% extends 'base/base.html' %} {% load crispy_forms_tags %} 
{% block title %} Correspondencia {% endblock %} 
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h2>Correspondencia</h2>
            {% if correspondencias %}
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <td>Folio</td>
                        <td>Detalle</td>
                        <td>Fecha</td>
                        <td>Asunto</td>
                        <td>Estado</td>
                        <td>Remitente</td>
                        <td>Tipo correspondencia</td>
                        <td>Departamento</td>
                        <td>Destinatario</td>
                    </tr>
                </thead>
                {% for correspondencia in correspondencias %}
                <tr>
                    <td>
                        <a href="{% url 'update_correspondencia' correspondencia.id %}">{{ correspondencia.folio }}</a>
                    </td>
                    <td>{{ correspondencia.detalle }}</td>
                    <td>{{ correspondencia.fecha }}</td>
                    <td>{{ correspondencia.asunto }}</td>
                    <td>{{ correspondencia.ESTADO }}</td>
                    <td>{{ correspondencia.remitente }}</td>
                    <td>{{ correspondencia.tipo_correspondencia }}</td>
                    <td>{{ correspondencia.departamento }}</td>
                    <td>{{ correspondencia.destinatario }}</td>
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'list_correspondencia' %}" class="pull-right">
                <button class="btn btn-primary" type="button">Volver</button>
            </a>
            {% else %}
            <strong>No existen coincidencias...</strong>
            <a href="{% url 'list_correspondencia' %}">
                <button class="btn btn-primary" type="button">Volver</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}