{% extends 'base/base.html' %} {% block title %} Correspondencia {% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <form method="post">
        {% csrf_token %}
        <h2>¿Estás seguro que quieres eliminar {{ correspondencia.folio }}?</h2>
        <button class="btn btn-danger" type="submit"> Confirmar</button>
        <a href="{% url 'list_correspondencia' %}">
          <button class="btn btn-primary" type="button">Volver</button>
        </a>
      </form>
    </div>
  </div>
</div>

{% endblock %}