{% extends 'base/base.html' %} {% block title %} Correspondencia {% endblock %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <h2>Correspondencia</h2>
      {% if perms.usuarios.can_add_correspondencia %}
      <form class="pull-right" action="{% url 'search_correspondencia' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Buscar..." name="buscar">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        <a href="{% url 'create_correspondencia' %}" class="btn btn-primary">Nueva correspondencia</a>
      </form>
      <a class="pull-right" href="{% url 'reporte_correspondencia_pdf' %}" style="color: black;"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
      {% endif %}
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <td>Folio</td>
            <td>Detalle</td>
            <td>Fecha</td>
            <td>Asunto</td>
            <td>Estado</td>
            <td>Remitente</td>
            <td>Tipo correspondencia</td>
            <td>Departamento</td>
            <td>Destinatario</td>
          </tr>
        </thead>
        {% for correspondencia in correspondencias %}
        <tr>
          <td>
            <a class="tablas" href="{% url 'update_correspondencia' correspondencia.id %}">{{ correspondencia.folio }}</a>
          </td>
          <td>{{ correspondencia.detalle }}</td>
          <td>{{ correspondencia.fecha }}</td>
          <td>{{ correspondencia.asunto }}</td>
          <td>{{ correspondencia.ESTADO }}</td>
          <td>{{ correspondencia.remitente }}</td>
          <td>{{ correspondencia.tipo_correspondencia }}</td>
          <td>{{ correspondencia.departamento }}</td>
          <td>{{ correspondencia.destinatario }}</td>
        </tr>
        {% endfor %}
      </table>
      {% include 'base/paginator.html' with page=correspondencias %}
    </div>
  </div>
</div>
{% endblock %}