{% extends 'base/base.html' %} {% block title %} Archivo {% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h2>Archivo</h2>
      <a href="{% url 'create_archivos' %}" class="btn btn-primary pull-right">Nuevo archivo</a>
      <table class="table table-bordered table-hover table-responsive">
        <thead class="lead">
          <tr>
            <td>Nombre</td>
            <td>Descripción</td>
            <td>Media</td>
            <td>Fecha</td>
          </tr>
        </thead>
        {% for archivo in archivos %}
        <tr>
          <td>
            <a class="tablas" href="{% url 'update_archivos' archivo.id %}">{{ archivo.nombre }}</a>
          </td>
          <td>{{ archivo.descripcion }}</td>
          <td>{{ archivo.media }}</td>
          <td>{{ archivo.timestamp }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}