{% extends 'base/base.html' %} {% load crispy_forms_tags %} {% block title %} Archivos {% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h2>Agregar nuevos archivos</h2>
      <form method="post" enctype='multipart/form-data'>
        {% csrf_token %} {{ form|crispy }}
        <br>
        <button class="btn btn-primary" type="submit">Guardar</button>
      </form>
    </div>
  </div>
</div>

{% if archivo %}
<br>
<a href="{% url 'delete_archivos' archivo.id %}">
  <button type="button" class="btn btn-danger">Eliminar</button>
</a>
{% endif %} {% endblock %}