{% extends 'base/base.html' %} {% block title %} Remitente {% endblock %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h2>Remitente</h2>
      <a href="{% url 'create_remitente' %}" class="btn btn-primary pull-right">Nuevo remitente</a>
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <td>Nombre</td>
            <td>Telefono</td>
            <td>Dirección</td>
            <td>Email</td>
          </tr>
        </thead>
        {% for remitente in remitentes %}
        <tr>
          <td>
            <a class="tablas" href="{% url 'update_remitente' remitente.id %}">{{ remitente.nombre }}</a>
          </td>
          <td>{{ remitente.telefono }}</td>
          <td>{{ remitente.direccion }}</td>
          <td>{{ remitente.email }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}